.can_fundraising_widget {
  max-width:100%!important;
  * {
    max-width:100%!important;
  }
  margin-top:3em!important;
  background:transparent!important;
  .can_embed #can_embed_form,
  .can_embed #donate_auto_modal,
  .can_embed #can_embed_form *,
  .can_embed #donate_auto_modal * {
    background-color:transparent!important;
    color:white!important;
  }
  .donate_recurring {
    padding:0em!important;
    margin:1em 0em 0em 0em!important;
  }
  input[type=checkbox] {
    color: #ccc;
  } 
  input[type=checkbox]:checked + label {
    background-color:#396afc!important;
    color: white!important;
  }  
  #logo_wrap,
  #action_info_inner,
  .action_description div,
  .entry-title {
    display:none!important;
  }
  #donation_recipient_wrap {
    display:none!important;
    height:.1em!important;
    margin:0em!important;
  }
  #donation_welcome {
    border:none!important;
    margin-top:0em!important;
    margin-bottom:1.5em!important;
  }
  .donate_amount {
    background-color:rgba(0,0,0,.1)!important;
    border:1px solid rgba(255,255,255,.8)!important;
    @include breakpoint(xsmall) {
      margin-right:none!important;
    }
  }

  .floatlabel-wrapper {
    background:transparent!important;
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    ::-ms-input-placeholder,
    placeholder,
    label {
      color:rgba(255,255,255,1)!important;
      border:1px solid white!important;
      opacity:1!important;
    } 
    .floatlabel-label {
      display:none!important;
    }
  }
  .clearfix li {
    @include breakpoint(xxxsmall) {
      padding-left:0em!important;
    }
  }
  .international_link-wrap {
    margin-top:-18px!important;
  }
  .international_link {
    line-height: 1.4em!important;
    border-bottom: none;
    padding-top: .2em;
    padding-bottom: .2em;
  }
  input[type=text],
  textarea {
    border:1px solid rgba(255,255,255,.9)!important;
    color:rgba(255,255,255,1)!important;
  }
  .can_select {
    border:1px solid rgba(255,255,255,1)!important;
    ::after{
      color:white!important;
    }
  }
  .placeholders::-webkit-input-placeholder, 
  input::-webkit-input-placeholder, 
  textarea::-webkit-input-placeholder {
    color:rgba(255,255,255,1)!important;
    opacity:1!important;
  }
  .can_button,
  .can_button:hover,
  input[type='submit'],
  input[type='submit']:hover,
  .button:hover,
  .donate_amount-selected {
    background: #396afc!important; 
    background: -webkit-linear-gradient(to right, #2948ff, #396afc)!important;  
    background: linear-gradient(to right, #2948ff, #396afc)!important; 
  }
  #donate_form_button {
    margin-top:2em!important;
  }
   @include breakpoint(small) {
    .donate_amount_wrap label {
      margin-right:0em!important;
    }
  }
  .donate_amount {
    font-weight:500!important;
    font-size:1em!important;
    border:1px solid white!important;
      color:rgba(255,255,255,.9)!important;
      font-size:1em!important;
      font-weight:500!important;
    .donate_amount_custom {
      border:none!important;
      color:rgba(255,255,255,.9)!important;
      font-size:1em!important;
      font-weight:500!important;
    }
  }
  #can_sidebar {
    border:none!important;
    img {
      margin-top:0em!important;
      margin-bottom:0em!important;
    }
    .action_status_tracker {
      border-bottom:none!important;
      margin-bottom:0em!important;
      .action_status_running_total {
        font-weight:700!important;
      }
      .action_status_status_bar {
        background:rgba(255,255,255,.7)!important;
        .action_status_status_bar-grow {
          background-color:rgba(57, 106, 252,1)!important;
          color:rgba(57, 106, 252,1)!important;
          opacity:1;
          .js-grow-dot {
            background-color:rgba(57, 106, 252,1)!important;
            color:rgba(57, 106, 252,1)!important;
            opacity:1;
          }
        }
      }
    }
  }
}  

.can_embed #can_embed_form_inner {
  #action_welcome_message_inner {
    * {
      color:black!important;
    }
  }
        h2 {
          display:none!important;
        }
         h4 {
           font-size:2em!important;
           text-align:left!important;
         }
         h4::after {
             margin-left:0px!important;
             padding-left:0px!important;
             width:100%!important;
             left:0%!important;
           }
           #form_col1,#form_col2 {
             width:100%!important;
           }
           .form_builder_output li {
             margin-top:1em!important;
             .control-label {
               font-size:1em!important;
               text-transform:none!important;
             }
           }
           #form_col2 {
             margin-bottom:2em!important;
             #d_sharing {
               display:none!important;
             }
             
             input {
            background: #396afc!important; 
            background: -webkit-linear-gradient(to right, #2948ff, #396afc)!important;  
            background: linear-gradient(to right, #2948ff, #396afc)!important; 
             }
          }
          #action_info {
            display:none!important;
          }
         }
        

  