.donate {
		@include vendor('transition', (
 			'opacity #{_duration(article)} ease-in-out',
		));
  > * {
    @include vendor('transition', 'opacity #{_duration(article)} ease-in-out');
    opacity:1;
  }
  div {
    @include vendor('transition', (
 					'opacity #{_duration(article)} ease-in-out'
				));
				@include vendor('transition-delay', '1s');
  } 
  .hide {
    > * {
      opacity: 0;
      .policy {
        @include vendor('transition', (
          'opacity 2s ease-in-out',
         ));
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
      }
    }
  }
}